<div id="container">
  <h1><%= "SEARCH RESULTS FOR '#{@search.query}' " %></h1>
  <% @search.find_images.each do |image| %>
    <div class="box">
      <%= link_to image_tag(image.image.url, size:"200x200"), image_path(image) %>
    </div>
  <% end %>
</div>
