*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'avenir',helvetica, sans-serif;
}

nav a {
  position: relative;
  display: inline-block;
  margin: 15px 25px;
  outline: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 800;
  font-size: 1.35em;
}

nav a:hover,
nav a:focus {
  outline: none;
}

/* Effect 15: scale down, reveal */
.cl-effect-15 a {
  color: rgba(0,191,167, 0.8);
  font-weight: 700;
  text-shadow: none;

}

.cl-effect-15 a::before {
  content: attr(data-hover);
  position: absolute;
  color: black;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}

.cl-effect-15 a:hover::before,
.cl-effect-15 a:focus::before {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0;
}