<div id="container">
  <h1><%= @image.name %></h1>
  <div id="result"><%= image_tag(@image.image.url, size:"500x500") %></div>
  <section id="downloadsection">
    <nav class="cl-effect-15">
      <%= link_to 'PNG', {controller: 'images', action: 'download_png'}, {'data-hover' => 'PNG'} %>
      <%= link_to 'SVG', {controller: 'images', action: 'download'}, {'data-hover' => 'SVG'} %>
    </nav>
  </section>
</div>



